@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, em, img, strong, b, i, dl, dt, dd, ol, ul, li,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, footer, header,
menu, nav, section, video, a {
  border: 0;
  outline: 0;
  font-size: 100%;
  color: #111;
  line-height: 1.2;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol, li {
  list-style: none;
}

strong {
  display: inline-block;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align: middle;
}

p {
  line-height: 1.5;
  word-break: keep-all;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 5rem;
}

$main-color: #2a477b;
$gray: #777777;
$size1: 2rem;
$size2: 1.5rem;
$size3: 1.25rem;
$size4: 1rem;

/*헤더*/
header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  transition: transform 1s;
  opacity: 1;

  &.sub_page_header {
    background: white;

    .header_nav {
      .nav_link, i {
        color: black !important;
      }
    }
  }

  &.hide {
    opacity: 0;
  }

  &.on {
    background-color: white;

    .nav_link, i {
      color: black !important;
    }
  }

  a {
    &:hover {
      opacity: 0.8;
    }
  }

  .header_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
  }

  .header_logo {
    width: 140px;
  }

  .header_nav {
    width: 50%;
    min-width: 612px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav_item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      &.on {
        .nav_dropdown {
          display: flex;
        }
      }

      .nav_dropdown {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        width: 100%;
        min-height: 120px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 0.5rem;
        position: absolute;
        top: 80px;
        left: 0;
        background: white;
        padding: 1rem 32px;

        &.on {
          display: flex; /* flex 레이아웃 유지 */
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }

        .dropdown_group {
          width: 546px;
          margin-left: auto;
          display: flex;
          justify-content: space-between;
          gap: 2rem;
          padding: 1rem 0;

          a {
            color: gray;

          }

          .group_main {
            width: 160px;
            font-size: 18px;
            font-weight: bold;
            color: black;
          }

          .sub_group {
            display: flex;
            gap: 1rem;
          }
        }

        a {
          display: block;
          color: black;
          font-size: 16px;
        }

        &.on {
          display: flex;
          align-items: center;
          justify-content: center;

          a {
            flex: 0 0 1;
          }
        }
      }
    }

    .nav_link {
      height: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 2rem;
      white-space: nowrap;
      font-weight: normal;
      font-size: 18px;
      color: white;

      &:hover {
        opacity: 0.9;
      }
    }

    .nav_dropdown {
      display: flex;
    }

    .nav_search {
      .btn_search {
        display: block;
        font-size: 0;
        width: 56px;
        height: 56px;
        background: none;
        border: none;

        i {
          font-size: 1.25rem;
          color: white;
        }
      }
    }
  }

  .btn_contact {
    background-color: $main-color;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 2rem;
    font-weight: bold;
  }
}

.content {
  margin: 80px 0;
  .container {
    padding: 0 80px;
  }
  .sub_title {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
}

.footer {
  position: relative;
  width: 100%;
  background: {
    color: #282828;
  };

  &::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 48px;
    display: block;
    width: 200px;
    height: 200px;
    background: {
      image: url("../images/bg_footer.png");
      size: contain;
    };
    filter: invert(1);
  }

  color: #f5f5f5;

  .footer_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    padding: 3rem 2rem;

    @media (min-width: 768px) {
    }
  }

  .footer_logo {
    img {
      max-width: 160px;
      display: block;
    }
  }

  .footer_info {
    line-height: 1.6;

    p {
      margin: 0 0 0.25rem;
      color: #ddd;
    }

    small {
      display: block;
      margin-top: 0.5rem;
      font-size: 12px;
      color: #aaa;
    }
  }

  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    color: rgba(214, 214, 214, 0.5);
    padding: 1rem 0;
    font-size: 16px;
    margin: 0 auto;
  }
}

